In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
website = 'https://www.skysports.com/premier-league-table/2020'

In [3]:
response = requests.get(website)
response.status_code

200

In [4]:
soup = BeautifulSoup(response.content,'html.parser')
#soup.prettify

In [5]:
result = soup.find_all('table',{'class':'standing-table__table'})

In [6]:
#result

In [7]:
league_table=soup.find_all('tbody')

In [8]:
trs=league_table[0].find_all('tr')

In [9]:
#league_table[0].find('td',{'class':'standing-table__cell standing-table__cell--name'}).get_text().strip()

team = [data.find('td',{'class':'standing-table__cell standing-table__cell--name'}).get_text().strip() for data in trs]
team

['Manchester City',
 'Manchester United',
 'Liverpool',
 'Chelsea',
 'Leicester City',
 'West Ham United',
 'Tottenham Hotspur',
 'Arsenal',
 'Leeds United',
 'Everton',
 'Aston Villa',
 'Newcastle United',
 'Wolverhampton Wanderers',
 'Crystal Palace',
 'Southampton',
 'Brighton and Hove Albion',
 'Burnley',
 'Fulham',
 'West Bromwich Albion',
 'Sheffield United']

In [10]:
points=[data.find_all('td',{'class':'standing-table__cell'})[9].get_text() for data in trs]
points

['86',
 '74',
 '69',
 '67',
 '66',
 '65',
 '62',
 '61',
 '59',
 '59',
 '55',
 '45',
 '45',
 '44',
 '43',
 '41',
 '39',
 '28',
 '26',
 '23']

In [11]:
played=[data.find_all('td',{'class':'standing-table__cell'})[2].get_text() for data in trs]
wins=[data.find_all('td',{'class':'standing-table__cell'})[3].get_text() for data in trs]
draws=[data.find_all('td',{'class':'standing-table__cell'})[4].get_text() for data in trs]
L=[data.find_all('td',{'class':'standing-table__cell'})[5].get_text() for data in trs]
F=[data.find_all('td',{'class':'standing-table__cell'})[6].get_text() for data in trs]
A=[data.find_all('td',{'class':'standing-table__cell'})[7].get_text() for data in trs]
GD=[data.find_all('td',{'class':'standing-table__cell'})[8].get_text() for data in trs]

In [12]:
# book_info = pd.DataFrame({'Name':book_name,'Price':book_price,'Availability':stock_availability})
league_table = pd.DataFrame({'Team':team,'Points':points,'Played':played,'Wins':wins,'Draws':draws,'L':L,'F':F,'A':A,'GD':GD})
league_table

                        Team Points Played Wins Draws   L   F   A   GD
0            Manchester City     86     38   27     5   6  83  32   51
1          Manchester United     74     38   21    11   6  73  44   29
2                  Liverpool     69     38   20     9   9  68  42   26
3                    Chelsea     67     38   19    10   9  58  36   22
4             Leicester City     66     38   20     6  12  68  50   18
5            West Ham United     65     38   19     8  11  62  47   15
6          Tottenham Hotspur     62     38   18     8  12  68  45   23
7                    Arsenal     61     38   18     7  13  55  39   16
8               Leeds United     59     38   18     5  15  62  54    8
9                    Everton     59     38   17     8  13  47  48   -1
10               Aston Villa     55     38   16     7  15  55  46    9
11          Newcastle United     45     38   12     9  17  46  62  -16
12   Wolverhampton Wanderers     45     38   12     9  17  36  52  -16
13            Crystal Palace     44     38   12     8  18  41  66  -25
14               Southampton     43     38   12     7  19  47  68  -21
15  Brighton and Hove Albion     41     38    9    14  15  40  46   -6
16                   Burnley     39     38   10     9  19  33  55  -22
17                    Fulham     28     38    5    13  20  27  53  -26
18      West Bromwich Albion     26     38    5    11  22  35  76  -41
19          Sheffield United     23     38    7     2  29  20  63  -43